:root {
  --font-headers: 'Pacifico', cursive;
  --font-text: 'Quicksand', sans-serif;
}

* {
  border: 1px solid gold;
}

body {
  font-family: var(--font-text);
}

/* ==========================
| | Mobile View
========================== */

  /* ==== header & nav ===== */

  h1 {
    font-family: var(--font-headers);
    font-size: 5em;
    margin: 0;
  }

  nav {
    margin: 0 auto;
    text-align: center;
    width: 100;
  }

  ul {
    list-style: none;
    margin: 0;
  }

  li {
    display: inline;
    margin: 0 10px 0 10px;
  }

  a {
    text-decoration: none;
    font-size: 3em;
  }

  .userForms input {
    height: 50px;
    width: 30%;
    font-size: 30px;
  }

  /* ====== searchBar ====== */

  .searchBar {
    width: 100%;
  }

  /* ======== main ========= */

  /* ==== create recipe ==== */

  .searchBar input {
    width: 45%;
    height: 30px;
    font-size: 24px;
  }

  .searchBar textarea {
    resize: none;
    width: 85vw;
    height: 7vh;
    overflow-y: auto;
  }

  /* ==== recipe cards ===== */

  .flexAlign {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h2 {
    font-size: 2em;
    font-family: var(--font-headers);
  }

  .recipeImage {
    width: 30%;
  }

  .recipeImage img {
    width: 100%;
  }

/* ==========================
| | Browser View
========================== */

@media only screen and (min-width: 600px) {

  /* ==== header & nav ===== */

  h1 {
    font-size: 3em;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    font-size: 2em;
  }

  /* ======== main ========= */

  /* ==== recipe cards ===== */

}
