:root {
  --font-headers: 'Pacifico', cursive;
  --font-text: 'Quicksand', sans-serif;
  --font-bold: 'Roboto', sans-serif;
  --color-lightbrown: #F2B76B;
  --color-darkbrown: #694312;
  --color-white: #F0DCC2;
  --color-darkblue: #1F5F82;
  --color-lightblue: #6BC2F2;
  --color-black: #1B1817;
}

body {
  font-family: var(--font-text);
  background-color: var(--color-lightbrown);
  color: var(--color-black);
  margin: 0;
}

input:focus, textarea:focus {
  outline: none;
}

/* ==========================
| | Mobile View
========================== */

  /* ==== header & nav ===== */

  h1 {
    font-family: var(--font-headers);
    font-size: 4em;
    text-shadow:
  	-1px -1px 0 ghostwhite,
  	1px -1px 0 ghostwhite,
  	-1px 1px 0 ghostwhite,
  	1px 1px 0 ghostwhite;
    margin: 0;
    color: var(--color-darkbrown);
  }

  nav {
    background-image: url("/images/youjeen-cho-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    text-align: center;
    width: 100;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav li {
    display: inline;
    margin: 0 10px 0 10px;
  }

  nav a {
    text-decoration: none;
    font-size: 2em;
    color: ghostwhite;
    text-shadow:
  	-1px -1px 0 var(--color-darkbrown),
  	1px -1px 0 var(--color-darkbrown),
  	-1px 1px 0 var(--color-darkbrown),
  	1px 1px 0 var(--color-darkbrown);
  }

  nav a:hover {
    color: var(--color-lightblue);
    cursor: pointer;
  }

  /* ===== log in form ===== */

  .userForms {
    text-align: center;
    background-color: var(--color-darkbrown);
  }

  .userForms input {
    height: 50px;
    width: 30%;
    font-size: 30px;
    margin: 5px 0;
  }

  .userForms input[type=submit] {
        color: var(--color-black);
        background-color: var(--color-lightblue);
        border:1px solid var(--color-black);
        border-radius: 5px;
        width: 22%;
    }

  .userForms input[type=submit]:hover {
        background-color: var(--color-darkblue);
        color: var(--color-white);
  }
  /* ====== searchBar ====== */

  .centerAlign {
    text-align: center;
    padding: 5px 0;
  }

  .formAlign {
    width: 95%;
    margin: 0 auto;
  }

  .searchBar {
    background-color: var(--color-white);
    border: 1px solid grey;
    border-top: 3px solid var(--color-darkbrown);
    width: 100%;
  }

  .searchBar h3 {
    text-align: center;
    background-color: var(--color-darkbrown);
    color: var(--color-white);
  }

  fieldset {
    border-radius: 5px;
    color: var(--color-darkbrown);
    margin: 5px 0;
    text-align: center;
  }

  .searchBar input {
    width: 45%;
    height: 30px;
    font-size: 20px;
  }

  .searchBar input[type=submit] {
    color: var(--color-black);
    background-color: var(--color-lightblue);
    border:1px solid var(--color-black);
    border-radius: 5px;
  }

  .searchBar input[type=submit]:hover {
        background-color: var(--color-darkblue);
        color: var(--color-white);
  }

  .searchBar textarea {
    resize: none;
    width: 92%;
    height: 7vh;
    overflow-y: auto;
    font-size: 20px;
  }

  select {
    margin-top: 5px;
    width: 45%;
    height: 30px;
    font-size: 20px;
  }

  .edit-delete {
    text-align: right;
  }

  .edit-delete li {
    display: inline;
    margin-right: 5px;
  }

  /* ===== recipe card ===== */

  .showOneRecipe {
    background-color: var(--color-white);
    border: 1px solid grey;
    border-top: 3px solid var(--color-darkbrown);
  }

  .flexAlign {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1%;
  }

  .widthAlign {
    margin: 0 auto;
    width: 96%;
  }

  .rightAlign {
    text-align: right;
  }

  .showOneRecipe h2 {
    font-size: 2em;
    font-family: var(--font-headers);
    margin-left: 10px;
  }

  .showOneRecipe h4 {
    margin: 0;
  }

  .cardTitle {
    font-family: var(--font-bold);
  }

  .ingredients {
    align-self: flex-start;
    width: 55%;
    white-space: pre-line;
  }

  .showOneRecipe input {
    display: block;
    width: 96%;
    height: 26px;
    font-size: 16px;
    margin-bottom: 5px;
  }

  .showOneRecipe textarea {
    resize: none;
    width: 96%;
    height: 10vh;
    overflow-y: auto;
    font-size: 16px;
  }

  .showOneRecipe fieldset {
    text-align: left;
  }

  .showOneRecipe legend {
    padding: 0 10px;
    font-size: 20px;
    text-align: center;
  }

  .showOneRecipe input[type=submit] {
    color: var(--color-black);
    background-color: var(--color-lightblue);
    border:1px solid var(--color-black);
    border-radius: 5px;
    margin-left: 2%;
  }

  .showOneRecipe input[type=submit]:hover {
    background-color: var(--color-darkblue);
    color: var(--color-white);
  }

  .recipeImage {
    width: 40%;
  }

  .recipeImage img {
    width: 100%;
  }

  .close-recipe {
    text-align: right;
  }

  .close-recipe h6 {
    margin: 0 20px;
  }

  .showOneRecipe a {
    text-decoration: none;
    font-size: 16px;
    color: var(--color-black);
  }

  .showOneRecipe a:hover {
    color: var(--color-lightblue);
  }

  .showOneRecipe a:visited {
    color: var(--color-black);
  }

  .showOneRecipe a:visited:hover {
    color: var(--color-lightblue);
  }

  /* ===== recipe list ===== */

  .showAllRecipes {
    background-color: var(--color-white);
    border: 1px solid grey;
    border-top: 3px solid var(--color-darkbrown);
    margin-bottom: 75px;
  }

  .clickme:hover {
    cursor: pointer;
    color: var(--color-lightblue);
  }

  .my-recipe {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .my-recipe img {
    width: 100%;
  }

  /* ======== footer ======= */

  footer {
    background-color: var(--color-darkbrown);
    height: 75px;
    width: 100%;
  }

  .social-media {
    margin-top: 5px;
    text-align: center;
    color: var(--color-lightblue);
  }

  footer li {
    display: inline;
    margin: 0 10px;
  }

  footer a, footer a:visited {
    text-decoration: none;
    color: var(--color-lightblue);
  }

/* ==========================
| | Browser View
========================== */

@media only screen and (min-width: 750px) {

  /* ==== header & nav ===== */

  h1 {
    font-size: 3em;
    margin: 2% 0 2% 5%;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav a {
    font-size: 2em;
  }

  .userForms input {
    height: 20px;
    width: 20%;
    font-size: 14px;
  }

  .userForms input[type=submit] {
    width: 10%;
  }
  /* ======== main ========= */

  main {
    width: 98%;
    margin: 0 auto;
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
  }

  .searchBar {
    width: 22%;
    height: 75vh;
    border-radius: 5px;
    overflow-y: auto;
  }

  .showOneRecipe {
    width: 45%;
    height: 75vh;
    border-radius: 5px;
    overflow-y: auto;
    order: 1;
  }

  .showAllRecipes {
    width: 30%;
    height: 75vh;
    border-radius: 5px;
    overflow-y: auto;
  }

  /* ====== searchBar ====== */

  .searchBar input {
    width: 95%;
    height: 30px;
    font-size: 18px;
    margin-bottom: 5px;
  }

  .searchBar textarea {
    resize: none;
    width: 95%;
    height: 10vh;
    overflow-y: auto;
  }

  select {
    width: 95%;
    height: 30px;
    font-size: 14px;
  }

  /* ==== recipe cards ===== */

  /* ===== recipe list ===== */

  a {
    text-decoration: none;
    font-size: 16px;
  }


}
