<div>
  <div>
    <!-- <h2>About the Devs</h2> -->
  </div>
  <div class="mobileFlex">
    <div class="devCard">
      <div class="centerAlign devImage">
        <img src="images/devs/becka-catanzaro.png" alt="becka">
      </div>
      <div class="centerAlign">
        <h4 class="devName">b. catanzaro</h4>
        <a href="https://www.linkedin.com/in/rebecca-catanzaro/">linkedin</a>
      </div>
      <div>
          <h5>As an aspiring software engineer, I enjoy exercising my creativity within a set of limits, simultaneously solving the original problem while still building something unique and interesting.</h5>
      </div>
    </div>
    <div class="devCard">
      <div class="centerAlign devImage">
        <img src="images/devs/yulli-chong.jpeg" alt="yulli">
      </div>
      <div class="centerAlign">
        <h4 class="devName">y. chong</h4>
        <a href="https://www.linkedin.com/in/yullichong/">linkedin</a>
      </div>
      <div>
          <h5>Enthusiastic and passionate technology professional ready to utilize education and skills acquired through recent education and background to effectively handle full-stack engineering and also cyber security defense and monitoring.</h5>
      </div>
    </div>
    <div class="devCard bottomCard">
      <div class="centerAlign devImage">
        <img src="images/devs/carramah-quiett.jpeg" alt="carramah">
      </div>
      <div class="centerAlign">
        <h4 class="devName">c. quiett</h4>
        <a href="https://www.linkedin.com/in/carramah-quiett/">linkedin</a>
      </div>
      <div>
          <h5>I am a software engineer with a multifaceted background in art, scientific research, technology, and legal innovation expertise. My patent law career proved to me how much art and science goes hand-in-hand. Technology is the baby of art and science. I am happy my road has lead me to software engineering. </h5>
      </div>
    </div>
  </div>
</div>
